In [2]:
import pandas as pd

In [11]:
# Read in text
df = pd.read_csv('day1_test_input.txt', header=None, names=['input'])
df

         input
0        1abc2
1  pqr3stu8vwx
2  a1b2c3d4e5f
3   treb7uchet

In [36]:
# calibration value can be found by combing first and last digit in the row to form a single digit number
df['first_digit'] = df['input'].str.findall('[0-9]+').str[0]
df['last_digit'] = df['input'].str.findall('[0-9]+').str[-1]
df['calibration_val'] = df['first_digit'] + df['last_digit'] # concat since these are string values
df.head()

         input first_digit last_digit concat calibration_val
0        1abc2           1          2     12              12
1  pqr3stu8vwx           3          8     38              38
2  a1b2c3d4e5f           1          5     15              15
3   treb7uchet           7          7     77              77

In [39]:
# calculate the sum of all the calibration values
sum(df['calibration_val'].astype('int'))

142